---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getLangFromUrl, useTranslations, useTranslatedPath } from '../../i18n/utils';
import HomePageContent from '../../components/pages/HomePageContent.astro';
const lang = 'en';
const t = useTranslations(lang);
const translatePath = useTranslatedPath(lang);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main class="flex flex-col min-h-screen">
			<!-- Hero Section -->
			<HomePageContent lang={lang} t={t} translatePath={translatePath} />
		</main>
		<Footer />
	</body>
</html>